<div id="application-settings-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            	<h5 class="modal-title">
					{{ 'vs_application.modal.application_settings.title' | trans( {},'VSApplicationBundle' ) }}: <span id="modalApplicationSettingsTitle"></span>
				</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"> </button>
            </div>
            <div class="modal-body">
                <div id="applicationSettings" class="card alert shadow mb-2">
                    <div class="card-body"></div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="btnSaveSettings">
					{{ 'vs_application.form.save' | trans( {},'VSApplicationBundle' ) }}
				</button>
                <button type="button" class="btn btn-light" data-bs-dismiss="modal">
					{{ 'vs_application.form.cancel' | trans( {},'VSApplicationBundle' ) }}
				</button>
            </div>

        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
