<div class="row">
    <div class="col-sm-6">
    	<strong>{{ applicationCompany | trans( {},'VSApplicationBundle' ) }} {{ applicationTitle | trans( {},'VSApplicationBundle' ) }}</strong>
    </div>
    <div class="col-sm-6">
        <div class="text-sm-end d-none d-sm-block">
        	&copy;2019 - {{ "now" | date("Y") }} <a href="http://vankosoft.org" target="_blank">VankoSoft</a>
        </div>
    </div>
</div>
